body    {
    background-color: black;
    color: white;
    text-align: center;
}

.linea {
    border-top: 1px solid #5bc0de;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
}
