body    {
    background-color: black;
    color: white;
    text-align: center;
}

header nav img  {
    height: 45px ;
    width: 35px ;
    padding-right: 5px;
}

.linea {
    border-top: 1px solid #5bc0de;
    height: 2px;
    max-width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;
}

.icons-section {
    background-color:#5bc0de;

}

footer  {
    background-color:#5bc0de;
}
